{% extends 'ecommerce/base.html' %}
{% load static %}
{% block body %}

    <div class="page-holder">
  
      <div class="container">
        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">Order Products</h1>
              </div>
              <div class="col-lg-6 text-lg-right">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                    <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Order Products</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <section class="py-5">
            
          
          <div class="row">
               <div class="col-md-3">
                    {% include "auth/user_panel.html" %}
                </div>
                
            <div class="col-lg-8 mb-4 mb-lg-0">
              <!-- CART TABLE-->
              <h2 class="h5 text-uppercase mb-4">Order Product List </h2>
              <div class="table-responsive mb-4">
                <table class="table">
                  <thead class="bg-light">
                    <tr>
                    
                    <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Product</strong></th>
                     <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Price</strong></th>
                     <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Quantity</strong></th>
                     <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Amount</strong></th>
                      <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Status</strong></th>
                      <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Date</strong></th>
                      <th class="border-0" scope="col"> </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in order_product %}
                    <tr>
                         <th class="pl-0 border-0" scope="row">
                        <div class="media align-items-center"><a class="reset-anchor d-block animsition-link" href="{% url 'home:product_detail' item.product.id item.product.slug %}"><img src="{{item.product.image.url}}" alt="..." width="70"/></a>
                          <div class="media-body ml-3"><strong class="h6"><a class="reset-anchor animsition-link" href="{% url 'home:product_detail' item.product.id item.product.slug %}">{{item.product.title}}</a></strong></div>
                        </div>
                         </th>
                     
                     
                       <td class="align-middle border-0">
                        <p class="mb-0 small">{{item.price}}</p>
                      </td>
                       
                       <td class="align-middle border-0">
                        <p class="mb-0 small">{{item.quantity}}</p>
                      </td>
                       <td class="align-middle border-0">
                        <p class="mb-0 small">${{item.amount}}</p>
                      </td>
                     
                      <td class="align-middle border-0">
                        <p class="mb-0 small">{{item.status}}</p>
                      </td>
                       <td class="align-middle border-0">
                        <p class="mb-0 small">{{item.create_at}}</p>
                      </td>
                      <td class="align-middle border-0 "><a class="reset-anchor btn btn-warning btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0" href="{% url 'accounts:user_order_product_detail' item.id item.order.id %}">Detail</a></td>
                    </tr>

                  </tbody>
                  {% endfor %}
                </table>
              </div>
              <!-- CART NAV-->
             
            </div>
            <!-- ORDER TOTAL-->
           
          </div>
        </section>
      </div>
      
    </div>

{% endblock body %}