{% extends 'ecommerce/base.html' %}
{% load static %}
{% block body %}

    <div class="page-holder bg-light">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
     
     
      <section class="py-5">
        <div class="container">
          <div class="row mb-5">
            <div class="col-lg-6">
              <!-- PRODUCT SLIDER-->
              <div class="row m-sm-0">
                <div class="col-sm-2 p-sm-0 order-2 order-sm-1 mt-2 mt-sm-0">
                  <div class="owl-thumbs d-flex flex-row flex-sm-column" data-slider-id="1">
                    {% for item in image %}
                    <div class="owl-thumb-item flex-fill mb-2 mr-2 mr-sm-0"><img class="w-100" src="{{item.image.url}}" alt="..."></div>
                   {% endfor %}
                  </div>
                </div>
                <div class="col-sm-10 order-1 order-sm-2">
                  <div class="owl-carousel product-slider" data-slider-id="1">
                    {% for item in image %}
                    <a class="d-block" href="{{item.image.url}}" data-lightbox="product">
                    <img class="img-fluid" src="{{detail.image.url}}" alt="...">
                    </a>
                   {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <!-- PRODUCT DETAILS-->
            <div class="col-lg-6">
              
              <h1>{{detail.title}}</h1>
              <ul class="list-inline mb-2">
                <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
              </ul>
              <p class="text-muted lead">${{detail.price}}</p>
              <p class="text-small mb-4">{{detail.description|safe}}</p>


              <form action="{% url 'home:addtoshopcart' product.id %}" method="POST">
                {% csrf_token %}
               <div class="row align-items-stretch mb-4">
               <div class="col-sm-5 pr-sm-0">
                  <div class="border d-flex align-items-center justify-content-between py-1 px-3 bg-white border-white"><span class="small text-uppercase text-gray mr-4 no-select">Quantity</span>
                    <div class="quantity">
                      
                      <input class="form-control border-0 shadow-0 p-0" name="quantity" type="number" value="1" min="1" max="{{detail.amount}}">
                      
                    </div>
                  </div>
                </div>
                 <div class="col-sm-3 pl-sm-0">
                <button class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0" type="submit" >Add to cart</button>
                </div>
                </div>
                </form>


                <a class="btn btn-link text-dark p-0 mb-4" href="#"><i class="far fa-heart mr-2"></i>Add to wish list</a><br>
              <ul class="list-unstyled small d-inline-block">
                <li class="px-3 py-2 mb-1 bg-white"><strong class="text-uppercase">SKU:</strong><span class="ml-2 text-muted">039</span></li>
                <li class="px-3 py-2 mb-1 bg-white text-muted"><strong class="text-uppercase text-dark">Category:</strong><a class="reset-anchor ml-2" href="#">Demo Products</a></li>
                <li class="px-3 py-2 mb-1 bg-white text-muted"><strong class="text-uppercase text-dark">Tags:</strong><a class="reset-anchor ml-2" href="#">Innovation</a></li>
              </ul>
            </div>
          </div>


          <!-- DETAILS TABS-->
          <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a></li>
            <li class="nav-item"><a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a></li>
          </ul>
          <div class="tab-content mb-5" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
              <div class="p-4 p-lg-5 bg-white">
                <h6 class="text-uppercase">Product description </h6>
                <p class="text-muted text-small mb-0">{{detail.detail|safe}}</p>
              </div>
            </div>
            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
              <div class="p-4 p-lg-5 bg-white">

                <div class="row">
                  <div class="col-lg-6">

                 <!--Comment-->
                 {% for item in comment %}
                    <div class="media mb-3"><img class="rounded-circle" src="{{item.user.userprofile.image.url}}" alt="" width="50">
                      <div class="media-body ml-3">
                        <h6 class="mb-0 text-uppercase">{{item.user.username}}</h6>
                        <p class="small text-muted mb-0 text-uppercase">{{item.create_at}}</p>
                        <ul class="list-inline mb-1 text-xs">
                          <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item m-0"><i class="fas fa-star-half-alt text-warning"></i></li>
                        </ul>
                        <h3 class="text-small mb-0 text-muted">{{item.subject}}</h3>
                        <p class="text-small mb-0 text-muted">{{item.comment}}</p>
                      </div>
                    </div>
                    {% endfor %}
                    <!--Comment-->
                   </div>
                   <div class="col-lg-6">
                     <h4 class="text-uppercase">Write Your Review</h4>
											{% if messages %}
                      {% for message in messages %}
                      <div class="alert alert-{{message.tags}}" role="alert">
                        {{ message }}
                        </div>
                      {% endfor %}
                      {% endif %}
											
											<form class="review-form" action="{% url 'home:addcomment' product.id %}" method="POST">
												{% csrf_token %}
												<div class="form-group ">
													<input name="subject" class="input" type="text" placeholder="Your subject" />
												</div>
												
												<div class="form-group">
													<textarea name="comment" class="input" placeholder="Your comment"></textarea>
												</div>
												<!-- <div class="form-group">
													<div class="input-rating">
														<strong class="text-uppercase">Your Rating: </strong>
														<div class="stars">
															<input type="radio" id="star5"  value="5" /><label for="star5"></label>
															<input type="radio" id="star4" value="4" /><label for="star4"></label>
															<input type="radio" id="star3"  value="3" /><label for="star3"></label>
															<input type="radio" id="star2" value="2" /><label for="star2"></label>
															<input type="radio" id="star1"  value="1" /><label for="star1"></label>
														</div>
													</div>
												</div> -->
												{% if user.id is not None %}
												<button class="primary-btn">Submit</button>
												{% else %}
                        You must be logged in to post a review
                        {% endif %}
											</form>
                   </div>
                   
                </div>


              </div>
            </div>
          </div>



          <!-- RELATED PRODUCTS-->
          <h2 class="h5 text-uppercase mb-4">Related products</h2>
          <div class="row">
            <!-- PRODUCT-->
            {% for item in related_product %}
            <div class="col-lg-3 col-sm-6">
              <div class="product text-center skel-loader">
                
              
                <div class="d-block mb-3 position-relative"><a class="d-block" href="{% url 'home:product_detail' item.id item.slug %}"><img class="img-fluid w-100" src="{{item.image.url}}" style='height:300px;' alt="..."></a>
                  <div class="product-overlay">
                    <ul class="mb-0 list-inline">
                      <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a></li>
                      <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="{% url 'home:addtoshopcart' item.id %}">Add to cart</a></li>
                      <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-toggle="modal"><i class="fas fa-expand"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h6> <a class="reset-anchor" href="{% url 'home:product_detail' item.id item.slug %}">{{item.title}}</a></h6>
                <p class="small text-muted">${{item.price}}</p>
              </div>
             
            </div>
            {% endfor %}
             </div>
          <!-- RELATED PRODUCTS-->

        </div>
      </section>
      
    </div>
 
{% endblock body %}